#!/usr/bin/env bash
set -eo pipefail

{% if aws_access_key_id != "" %}
export AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
export AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
{% endif %}
export AWS_REGION={{ region }}

echo "Checking bucket for ready file..."
until [[ $(/usr/local/bin/aws s3 cp s3://{{ sync_bucket_uri }}/{{ chain }}_sync_ready /dev/null) ]]
do
  sleep 30
done

echo "Ensuring client is stopped..."
systemctl stop {{ chain }}.service

echo "Removing existing data..."
rm -rf /data/polkadot/chains/{{ chain_stub }}/paritydb

echo "Syncing blockchain from S3..."
/usr/local/bin/aws s3 cp s3://{{ sync_bucket_uri }}/{{ chain }} /data/polkadot/chains/{{ chain_stub }}/paritydb --recursive
chown -R polkadot:polkadot /data/polkadot

echo "Starting client..."
systemctl start {{ chain }}.service

echo "Sync complete!"